<h3> View Restaurant Details</h3>
<div>

    <div>
        <label> <b> user : </b></label> {{Resto.user_id}}
    </div>
    <div>
        <label> <b> Nom: </b></label> {{Resto.nom}}
    </div>
    <div>
      <label> <b> Adresse: </b></label> {{Resto.adresse}}
  </div>
  <div>
    <label> <b> Date d'ouverture: </b></label> {{Resto.open}}
  </div>
  <div>
    <label> <b> Date de clôture: </b></label> {{Resto.close}}
  </div>
  <div>
    <label> <b> latitude : </b></label> {{Resto.lat}}
  </div>
  <div>
    <label> <b> longitude: </b></label> {{Resto.log}}
  </div>
</div>
